@{
    ViewData["Title"] = "Sobre a demonstração";
}
<h1>@ViewData["Title"]</h1>

<p>Esta demonstração realiza operações de CRUD no Serviço Azure CosmosDB para Gremlin.</p>

<p>Azure Cosmos DB é um banco de dados relacional e NoSQL gerenciado pela Microsoft</p>

<p>Azure Cosmos DB for Apache Gremlin é um serviço de banco de dados de grafo (graph).</p>

<p>O <a href="https://tinkerpop.apache.org/">Apache TinkerPop</a> é um framework open-source para manipulação de grafos.</p>

<p>Esta demonstração utiliza a biblioteca Javascript <b><a href="https://visjs.org/">Vis.js</a></b></p>

