@{
    ViewData["Title"] = "Processa a exclusão de uma pessoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Exclusão - Resposta</h1>
Item excluído com sucesso.
<br />
<p>
    @Html.ActionLink("Voltar", "Index")
</p>