
@{
    ViewData["Title"] = "Processa as associações";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Associação - Resposta</h1>
Item associado com sucesso
<br />
<p>
    @Html.ActionLink("Voltar", "Index", "Home")
</p>

