@{
    ViewData["Title"] = "Sobre a demonstração";
}
<h1>@ViewData["Title"]</h1>

<p>Esta demonstração utiliza a biblioteca Javascript <b><a href="https://visjs.org/">Vis.js</a></b></p>

<p>Este projeto tem o objetivo de demonstrar o uso do Azure Cosmos DB.</p>

<p>Este projeto é uma aplicação ASPNET que implementa as operações de CRUD no Azure Cosmos DB. Bem como implementa relações de associação.</p>

<p>Projeto construído para a disciplina Cloud Computing e Internet das Coisas do curso Tecnologia em Sistemas para Internet (TSI) do Senac-SP.</p>

<h2>Funcionalidades</h2>
<ol>
    <li>CRUD dos objetos no Azure Cosmos DB</li>
    <li>Associação entre os objetos no Azure Cosmo DB</li>
    <li>Exibição da rede de relacionamento</li>
</ol>

<h2>Informações adicionais</h2>
<p>Esta demonstração realiza operações de CRUD no Serviço Azure CosmosDB para Gremlin.</p>

<p>Azure Cosmos DB é um banco de dados relacional e NoSQL gerenciado pela Microsoft</p>

<p>Azure Cosmos DB for Apache Gremlin é um serviço de banco de dados de grafo (graph).</p>

<p>O <a href="https://tinkerpop.apache.org/">Apache TinkerPop</a> é um framework open-source para manipulação de grafos.</p>